<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component"
		label="COM_VM2SMS_COMPONENT_LABEL"
		description="COM_VM2SMS_COMPONENT_DESC"
	>
	<field name="manager_phones" type="text"
			description="COM_VM2SMS_FIELD_CONFIG_MANAGER_DESC"
			label="COM_VM2SMS_FIELD_CONFIG_MANAGER_LABEL"
		/>
		<field name="sender_name" type="text"
			description="COM_VM2SMS_FIELD_CONFIG_SENDER_DESC"
			label="COM_VM2SMS_FIELD_CONFIG_SENDER_LABEL"
		/>
		<field type="spacer" name="myspacer" label="COM_VM2SMS_SPACER_WORKTIME" />
		<field name="work_start" type="text"
			description="COM_VM2SMS_FIELD_CONFIG_WORKSTART_DESC"
			label="COM_VM2SMS_FIELD_CONFIG_WORKSTART_LABEL"
			size="5"
		/>
		<field name="work_end" type="text"
			description="COM_VM2SMS_FIELD_CONFIG_WORKEND_DESC"
			label="COM_VM2SMS_FIELD_CONFIG_WORKEND_LABEL"
			size="5"
		/>
		<field name="phone_field" type="list"
			description="COM_VM2SMS_FIELD_CONFIG_PHONE_FILED_DESC"
			label="COM_VM2SMS_FIELD_CONFIG_PHONE_FILED_LABEL"
			default="phone_2"
		>
		<option value="phone_1">COM_VM2SMS_FIELD_CONFIG_OPTION_PHONE_1</option>
		<option value="phone_2">COM_VM2SMS_FIELD_CONFIG_OPTION_PHONE_2</option>
	</field>
		<field name="custom_phone_field" type="text"
			label="COM_VM2SMS_FIELD_CONFIG_CUSTOM_PHONE_FILED_LABEL"
			description=""/>


	</fieldset>
	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field name="rules" type="rules"
			component="com_vm2sms"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>
